<div class="app-container">
  <div class="input-container">
    <tui-input [(ngModel)]="inputUserId" placeholder="Enter User Id"></tui-input>
  </div>

  <div class="buttons">
    <button tuiButton type="button" (click)="confirmUserId()">Confirm User ID</button>
    <button tuiButton type="button" (click)="showProfileInfo()" [disabled]="!confirmedUserId">Get Profile Info</button>
    <button tuiButton type="button" (click)="showFriendsList()" [disabled]="!confirmedUserId">Get Friends List</button>
  </div>

  <div class="info-sections">
    <app-user-profile *ngIf="showProfile" [userId]="confirmedUserId"></app-user-profile>
    <app-user-friends *ngIf="showFriends" [userId]="confirmedUserId"></app-user-friends>
  </div>
</div>
